.container-login100 {
  background-image: url('../../images/bg-01.jpg');
}

.logo-slack {
  width: 130px;
}

label,input{
  display: inline-block;
  vertical-align: middle;
}

.form-check {
  padding-top: 20px;
  text-align: center;
}

.dropdown-item {
  text-align: center;
}

.align-items-center {
  border-radius: 15px;
  // margin-left: 7px !important;
  background-color: #4CAF50;
  border-radius: 15px;
  width: 102%;
  height: 60px;
  position: relative;
}

.dropdown {
  position: absolute;
  top: 13px;
  right: 0px;
}

.dropdown-menu {
  text-align: center !important;
}

.metismenu li:hover > a,
.metismenu li.active > a {
  color: #ff6600;
  border-radius: 15px;
  text-decoration: none;
}

.metismenu > li:hover > a, .metismenu > li.active > a {
  background: #ffccff;
  text-decoration: none;
}

.logo > a > h2 {
  color: #660066;
}

.logo > a:hover {
  text-decoration: none;
}

.information-item {
  display: flex;
  justify-content: center;
}
.icon-edit {
  padding-top: 2px;
  padding-right: 5px;
}

.text-uppercase > tr > th {
  text-align: center;
}

.body-table > tr > th {
  text-align: center;
}

.pagination {
  display: block !important;
}

.sub_answers {
  display: flex;
}

.answer {
  width: 350px;
  padding-right: 10px;
}

.delete-icon {
  padding-top: 6px;
}