<div class="page-title-area">
  <div class="row align-items-center">
    <div class="col-sm-12 clearfix">
      <div class="pull-right">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle btn-profile" type="button" data-toggle="dropdown">
            <i class="fa fa-user"></i>
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to "Profile", admin_profile_path, class: "dropdown-item" %></br>
            <%= link_to "Log out", destroy_admin_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
